<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AIS.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>128.0.138.52</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>AIS</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>rh38H38dj23*I34jk</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value />
            </setting>
        </AIS.Properties.Settings>
    </userSettings>
</configuration>